html{
    background-color: rgba(255, 252, 225, 1);
    font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.main{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    gap: 10px;
}
img{
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
}
a{
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    color: rgba(248, 117, 121, 1);
}
h1{
    font-size: 40px;
    text-align: center;
    color: rgba(248, 117, 121, 1);
}

.swiper {
  width: 100%;
  height: 500px;  /* Задайте свою высоту */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Чтобы картинки не растягивались */
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  z-index: 20;          /* Выше, чем у слайдов */
  pointer-events: auto; /* Чтобы кнопка была кликабельна */
  width: 80%;
  max-width: 600px;
}
.overlay-text h1{
    font-size: 60px;
    color: white;
}
.overlay-text p{
    font-size: 40px;
    color: white;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);  /* 0.5 = 50% яркости (затемнение) */
}
/* Для мобильных устройств */
@media (max-width: 768px) {
  .swiper {
    height: 300px;
  }
}
@media screen and (max-width:520px){
    a{
    font-size: 35px;
    }
    h1{
    font-size: 35px;
    }
    .overlay-text h1{
    font-size: 40px;
    color: white;
}
.overlay-text p{
    font-size: 30px;
    color: white;
}
}
@media screen and (max-width:440px){
    a{
    font-size: 30px;
    }
    h1{
    font-size: 30px;
    }
    .overlay-text h1{
    font-size: 30px;
    color: white;
}
.overlay-text p{
    font-size: 20px;
    color: white;
}
}
@media screen and (max-width:370px){
    a{
    font-size: 25px;
    }
    h1{
    font-size: 25px;
    }
}
@media screen and (max-width:280){
    a{
    font-size: 20px;
    }
    h1{
    font-size: 20px;
    }
}