*{
    background-color: rgba(255, 252, 225, 1);
    font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.main{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    gap: 10px;
}
img{
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
}
a{
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    color: rgba(248, 117, 121, 1);
}
h1{
    font-size: 40px;
    text-align: center;
    color: rgba(248, 117, 121, 1);
}
@media screen and (max-width:520px){
    a{
    font-size: 35px;
    }
    h1{
    font-size: 35px;
    }
}
@media screen and (max-width:440px){
    a{
    font-size: 30px;
    }
    h1{
    font-size: 30px;
    }
}
@media screen and (max-width:370px){
    a{
    font-size: 25px;
    }
    h1{
    font-size: 25px;
    }
}
@media screen and (max-width:280){
    a{
    font-size: 20px;
    }
    h1{
    font-size: 20px;
    }
}